## Objective
Build a predictive model that estimatest he probability of various match outcomes (win, draw, loss) for each team.

### Application
To be used in a sports betting scenario by comparing model's predicted probabilities with betting odds, I can potentially spot value bets

In [2]:
# libraries
import pandas as pd

In [3]:
df = pd.read_parquet('games.parquet')
print(df.head())

                      home                  away        date  gh  ga  \
0         Bolton Wanderers          Derby County  1888-09-08   3   6
1               Everton FC         Accrington FC  1888-09-08   2   1
2        Preston North End            Burnley FC  1888-09-08   5   2
3               Stoke City  West Bromwich Albion  1888-09-08   0   2
4  Wolverhampton Wanderers           Aston Villa  1888-09-08   1   1

  full_time competition                         home_ident  \
0         F     england         Bolton Wanderers (England)
1         F     england               Everton FC (England)
2         F     england        Preston North End (England)
3         F     england               Stoke City (England)
4         F     england  Wolverhampton Wanderers (England)

                       away_ident home_country away_country home_code  \
0          Derby County (England)      england      england       ENG
1         Accrington FC (England)      england      england       ENG
2            Burnley FC (England)      england      england       ENG
3  West Bromwich Albion (England)      england      england       ENG
4           Aston Villa (England)      england      england       ENG

  away_code home_continent away_continent continent     level
0       ENG         Europe         Europe    Europe  national
1       ENG         Europe         Europe    Europe  national
2       ENG         Europe         Europe    Europe  national
3       ENG         Europe         Europe    Europe  national
4       ENG         Europe         Europe    Europe  national

In [4]:
# More examindation of the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1237935 entries, 0 to 1237934
Data columns (total 17 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   home            1237575 non-null  object
 1   away            1237568 non-null  object
 2   date            1237935 non-null  object
 3   gh              1237935 non-null  int32
 4   ga              1237935 non-null  int32
 5   full_time       1237935 non-null  object
 6   competition     1229433 non-null  object
 7   home_ident      1237935 non-null  object
 8   away_ident      1237935 non-null  object
 9   home_country    1237935 non-null  object
 10  away_country    1237935 non-null  object
 11  home_code       1237935 non-null  object
 12  away_code       1237935 non-null  object
 13  home_continent  1237935 non-null  object
 14  away_continent  1237935 non-null  object
 15  continent       1237935 non-null  object
 16  level           1237935 non-null  object
dtypes: int32(2), object(15)
memory usage: 151.1+ MB
None

In [5]:
print(df.describe())

                 gh            ga
count  1.237935e+06  1.237935e+06
mean   1.611417e+00  1.150681e+00
std    1.443697e+00  1.216481e+00
min    0.000000e+00  0.000000e+00
25%    1.000000e+00  0.000000e+00
50%    1.000000e+00  1.000000e+00
75%    2.000000e+00  2.000000e+00
max    2.500000e+01  2.400000e+01

In [10]:
print(df.columns)

Index(['home', 'away', 'date', 'gh', 'ga', 'full_time', 'competition',
       'home_ident', 'away_ident', 'home_country', 'away_country', 'home_code',
       'away_code', 'home_continent', 'away_continent', 'continent', 'level'],
      dtype='object')

In [8]:
# checking for missing values in each column
print(df.isnull().sum())

home               360
away               367
date                 0
gh                   0
ga                   0
full_time            0
competition       8502
home_ident           0
away_ident           0
home_country         0
away_country         0
home_code            0
away_code            0
home_continent       0
away_continent       0
continent            0
level                0
dtype: int64